@import url('https://fonts.googleapis.com/css?family=Mitr:400,600|Pridi:300|Ubuntu+Mono');

/*css reset*/
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

/*class selectors*/
html, body {
	height: 100%; 
}

.container {
	width: 90%;
	margin: auto;
	background-color: #E0E0E0;
}

.navFlex {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: baseline;
	align-items: baseline;
	width: 80%;
	margin:0px auto;
	padding-top: 1%;
	height: auto;
	border-bottom: 1px solid black;
	flex-wrap: wrap;
	position: relative;
}

.n {

}

@media only screen and (max-width: 700px) {
	.container {
		width: 95%;
	}
	.navFlex {
		justify-content: center;
	}
	.wp {
		width: 100%;
		text-align: center;
	}

	.n {
		text-align: center;
		width: 100%;
		padding-top: 10px;
	}
}


#about {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 25%;
	padding-top: 20px;
}
#projects {
	padding-top: 20px;
	width: 80%;
	margin: 0 auto;
}

#labs {
	padding-top: 20px;
	width: 80%;
	margin: 0 auto;
}


.projFlex {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: baseline;
	align-items: baseline;
	margin: 0 auto;
	width: 100%;
	flex-wrap: wrap;
}

#lab-01 {
	padding-top: 20px;
}

#project1 {
	padding-top: 20px;
}
.child {
	padding-bottom: 20px;
}

.projFlex h3 {
	padding-bottom: 10px;
}

.thumb {
	/*create 50x50 thumbnail that is linked to project*/
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.titleLink {
	font-weight: 600;
	font-size: 1.7em;
}


/*tag selectors*/

body {
	background-image: url("../img/portal-bg.svg");
	background-size: 40px;
}

p {
	font-family: 'Mitr', sans-serif;
	font-size: 1.1em;
}

h1 {
	/*font stuff*/
	font-size: 6em;
	font-family: 'Mitr', sans-serif;
	line-height: 100%;
}
h2 {
	font-family: 'Pridi', serif;
	font-size: 2.5em;
	letter-spacing: 3px;
	text-align: center;
}
h3{
	font-family: 'Pridi', serif;
	font-size: 1.7em;
}
h4{
	font-family: 'Mitr', sans-serif;
	font-size: 1.2em;
	display: inline;
}

a {
	font-family: 'Ubuntu Mono', monospace;
	text-decoration: none;
	color: black;
}

a:hover {
	background-color: black;
	color: white;
}
/*nav stuff*/
nav {
	list-style: none;
	text-decoration: none;
}

ul {
	margin: 0 auto;


}

li {
	list-style-type: none;
	display: inline;
	padding: 10px;
	color: black;

}


li a {
	font-family: 'Mitr', sans-serif;
	font-weight: 600;
	font-size: 2.2em;
	color: black;
}

li a:hover {
	background-color: black;
	color: white;	
}



